<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

        <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/public/images/favicons/manifest.json">
        <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/public/images/favicons/favicon.ico">
        <meta name="msapplication-config" content="/public/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!-- Exibição correta em smartphones -->
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        #{get 'moreStyles' /}
    </head>
    <body>
        #{doLayout /}
        
        <script src="@{'/public/javascripts/jquery-2.2.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/vue.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/vue-resource.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </body>
</html>
